<% if current_user.commented_on?(post) %>
  <p><i class="fas fa-comment" style="color: #48350e;"></i><%= link_to post.comments.count, post_path(post) %></p>
<% else %>
  <p><i class="far fa-comment" style="color: #48350e;"></i><%= link_to post.comments.count, post_path(post) %></p>
<% end %>
<!--@post=post-->