<%= form_with model: @youtube_url, url: post_youtube_urls_path(@post.id), method: :post do |f| %>
  <h4>Youtube URL(※複数の動画をつけたい場合は改行して入力してください)</h4>
  <%= f.text_area :path, rows: 5, style: "width: 50%;" %>


  <%= f.submit '変更を保存' %>
<% end %>