@use '~bootstrap/scss/bootstrap';

.lines_searche {
  display: flex;
}

.searches_form {
  text-align: right;
}

.index-img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.show-img{
    width: 150px;
    height: 150px;
    object-fit: contain;
  }

  .aspect-ratio {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
