<% if user.avatar.attached? %>
  <%= image_tag user.avatar, size: "100x100" %><br>
<% end %>
<table class="table">
  <tbody>
    <tr>
      <th>氏名</th>
      <th><%= link_to user.disply_name %></th>
    </tr>
    <tr>
      <th> &nbsp;&nbsp; </th>
      <th><%= user.is_member ? '生徒' : '家族' %></th>
    </tr>
  </tbody>
</table>
<% if current_user == user && !user.guest_user? %>
  <%= link_to "ユーザー編集", edit_user_path(user.id),  class: "btn btn-success", style: "border-radius: 6px;" %>
<% end %>





